* {
    padding: 0px;
    margin: 0px;
    color-scheme: dark;
}

.navbar {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: var(--navbar-bg);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    z-index: 999999;
    transition: all .15s;
    overflow: hidden;
}

.left {
    height: 70px;
    width: 20%;
    display: flex;
    position: relative;
    left: 1%;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.right {
    height: 70px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    right: 25px;
    position: absolute;
    gap: 15px;
}

.navbarImg {
    width: 48px;
    height: 48px;
    border-radius: 15px;
}

.button {
    user-select: none;
    height: inherit;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-shadow: none;
    transition: all .3s;
    font-size: 1.3rem;
    cursor: pointer;
    height: 100%;
    border-radius: 12px;
}

.button:hover {
    background-color: var(--text-color);
    color: var(--text-color-opposite)
}

.right a {
    height: 70%;
}

.lightToggle {
    width: 35px;
    height: 35px;
    background-color: transparent;
    transition: all .3s;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightToggle img {
    width: 28px;
    height: 28px;
    background-color: transparent;
    transition: all .3s;
    border-radius: 100%;
}

.lightToggle:hover {
    background-color: var(--selector-bg);
    cursor: pointer;
}

.leftText {
    color: var(--text-color);
}

.rightMobile {
    height: 70px;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    right: 25px;
    position: absolute;
    gap: 15px;
}

.dropdownButton {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 1px 1px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownButton:hover {
    cursor: pointer;
}

.dropdownButton > img {
    width: 30px;
    height: 30px;
}

.dropdown {
    position: absolute;
    width: 100%;
    height: calc(100% - 70px);
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown > a {
    height: 70%
}
